@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Cookie&family=Luckiest+Guy&family=Marck+Script&family=Playball&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: #161623; */
    background: black;
    color: #fff;
    /* cursor: none; */
}
/* nav li{
    title-style: none;
    text-decoration: none;

}
nav a{
    text-decoration: none;
    color: #fff;
}

/* The sidebar menu 
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    /* background-color: #111; Black 
    overflow-x: hidden; 
    padding-top: 20px;
    margin-top: 3rem;
}
  

.sidenav a  {
    margin-top: 10px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

  

.sidenav a:hover {
  color: crimson;
}


.main {
  margin-left: 160px; 
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
    /* width: 50%; 
    
}
.logo h4 a{
    color: #fff;
    text-align: center;
    position: absolute;
    top: 6%;
    left: 45%;
    font-size: 3rem;
    font-family: 'Luckiest Guy', cursive;
}

.logo a span{
    color: crimson;
}
/* .line{
    border: #fff 2px solid;
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content h3{
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    transition: .4s ease;

}

.home-content h3:hover{
    /* color: black;
    -webkit-text-stroke: 2px black;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 1px;
}

.responsive{
    height: auto;
    width: 100%;
}
.home-img{

    border: rgba(255, 255, 255, 0.4) 0.2px solid;
    padding: 10px;
    margin-top: 2rem;
 
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center;*/ 
     /* border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}   

.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: transform .2s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow, .grow-small{
    transform: scale(7);
    background: white;
    mix-blend-mode: difference;
    border: none;
}
.grow-small{
    transform: scale(2.5);
   
} */

nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}
.navigation{
    position: relative;
    height: 450px;
    width: 70px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 12px 0 0 crimson;
    border-left: 10px solid rgb(255, 255, 255, );;
    overflow-x: hidden;
    transition: width 0.5s;
}
.navigation:hover{
    width: 300px;
    
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active{
    background: crimson;
}
.navigation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgba(255, 255, 255, 0.1); */
    box-shadow: 15px 15px 0 crimson;
}
.navigation ul li.active a::after{
    content: '';
    position: absolute;
    top: 60px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: rgba(255, 255, 255, 0.1); */
    box-shadow: 15px -15px 0 crimson;


}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.navigation ul li a .title:hover{
    font-size: 20px;
    letter-spacing: 3px;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height:70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}
.navigation ul li a  .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}